<div class="has-text-centered price">
  <span *ngIf="displayedContent?.indexName"><b>{{displayedContent.indexName}}</b> AKTUALNA CENA: : <b class="priceValue">{{displayedContent.price | number : '1.2'}}$</b></span>
  <span *ngIf="displayedContent?.symbol">AKTUALNA CENA: <b class="priceValue">{{displayedContent.price | number : '1.2'}} $</b></span>
  <span *ngIf="displayedContent?.bid">AKTUALNA CENA: <b class="priceValue">{{displayedContent.bid | number : '1.2'}} $</b></span>
  <span *ngIf="displayedContent?.index">AKTUALNY WSKAŹNIK: <b class="priceValue">{{displayedContent.price}} pkt. </b></span>
  <span *ngIf="displayedContent">
    <span *ngIf="displayedContent?.c">
      <span *ngIf="dollarSign">AKTUALNA CENA: <b class="priceValue">{{displayedContent.c | number : '1.2'}} $ </b></span>
      <span *ngIf="!dollarSign">AKTUALNY STOSUNEK WARTOŚCI: <b class="priceValue">{{displayedContent.c | number : '1.2'}}</b></span>
    </span>
  </span>
</div>

<div [className]="canvaClass">
  <div *ngIf="ETFError || stockError" class="has-text-centered">
    <h1>PRZECIĄŻENIE</h1>
    <h3>ZWOLNIJ PROSZĘ!</h3>
    Aplikacja korzysta z darmowych API posiadających limity<br>
    żądań na minutę. Odczekają kilkadziesiąt sekund i odświerz<br>
    aby kontynuować.<br>
    Możesz także w tym czasie przejrzeć inne zakładki. Większość działów <br>
    korzysta z osobnych źródeł.
  </div>
  <progress *ngIf="showLoadingBar" class="progress is-large is-dark" max="100">60%</progress>
</div>
